#dashboardcommandbar {
    float: left;
    position: absolute;
    left: 480px;
    top: 140px;
}

#dashboardcommandbartextbox {
    position: absolute;
    width: 600px;
    height: 40px;
    background-color: lavenderblush;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Open Sans';
    font-size: 24px;
}

#dashboardcommandbarconfirmbutton {
    position: absolute;
    width: 60px;
    height: 48px;
    left: 640px;
    top: 0px;
    background-color: blueviolet;
}

#dashboarddatetext {
    position: absolute;
    right: 160px;
    top: 240px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtoday {
    position: absolute;
    left: 400px;
    top : 240px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtodaycontent {
    position: absolute;
    left: 0px;
    top : 60px;
    font-family: 'Open Sans';
    font-size: 20px;
}

#dashboardtomorrow {
    position: absolute;
    left: 400px;
    top : 480px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtomorrowcontent {
    position: absolute;
    left: 0px;
    top : 60px;
    font-family: 'Open Sans';
    font-size: 20px;
}

.planinstance {
    border: 1px solid black;
    width: 800px;
    height: 40px;
}