#dashboardcommandbar {
    float: left;
    position: absolute;
    left: 480px;
    top: 140px;
}

#dashboardcommandbartextbox {
    position: absolute;
    width: 600px;
    height: 40px;
    background-color: lavenderblush;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Open Sans';
    font-size: 24px;
}

#dashboardcommandbarconfirmbutton {
    position: absolute;
    width: 60px;
    height: 48px;
    left: 640px;
    top: 0px;
    background-color: blueviolet;
}

#dashboarddatetext {
    position: absolute;
    left: 1080px;
    top: 240px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtoday {
    position: absolute;
    left: 400px;
    top : 240px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtodaycontent {
    position: absolute;
    left: 0px;
    top : 60px;
    font-family: 'Open Sans';
    font-size: 20px;
}

#dashboardtomorrow {
    position: absolute;
    left: 400px;
    top : 480px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtomorrowcontent {
    position: absolute;
    left: 0px;
    top : 60px;
    font-family: 'Open Sans';
    font-size: 20px;
}

.planinstance {
    position: relative;
    border-radius: 16px;
    width: 800px;
    height: 32px;
    padding-left: 8px;
    background-color: lavender;
    margin-bottom: 8px;
}

.planinstanceedit {
    position: absolute;
    left: 40px;
    top : 0px;
    width: 720px;
    height: 100%;
}

.category {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
    left: 40px;
}

.title {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
    left: 200px;
}

.time {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    left: 640px;
    width: 100px;
}

.planachievetogglebutton {
    position: absolute;
    left: 0px;
    top: 0px;
}

.plannotachieved {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: black;
}

.planachieved {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: green;
}

.removebutton {
    position: absolute;
    left: 780px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: red;
    z-index: 1;
}

/* Edit */
#dashboardeditwindow {
    border: 2px solid black;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: lavender;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: bold;
    z-index: 2;
}

#dashboardedittitle {
    position: absolute;
    left: 20px;
    top: 20px;
}

#dashboardeditcategorytext {
    position: absolute;
    font-size: 24px;
    left: 20px;
    top: 60px;
}

#dashboardedittitletext {
    position: absolute;
    font-size: 24px;
    left: 300px;
    top: 60px;
}

#dashboardeditdatetext {
    position: absolute;
    font-size: 24px;
    left: 20px;
    top: 140px;
}

#dashboardedittimetext {
    position: absolute;
    font-size: 24px;
    left: 300px;
    top: 140px;
}

#dashboardeditcategorytextbox {
    position: absolute;
    font-size: 24px;
    left: 20px;
    top: 90px;
    width: 260px;
    height: 32px;
}

#dashboardedittitletextbox {
    position: absolute;
    font-size: 24px;
    left: 300px;
    top: 90px;
    width: 260px;
    height: 32px;
}

#dashboardedityeartextbox {
    position: absolute;
    font-size: 24px;
    left: 20px;
    top: 170px;
    width: 60px;
    height: 32px;
    text-align: center;
}

#dashboardeditmonthtextbox {
    position: absolute;
    font-size: 24px;
    left: 100px;
    top: 170px;
    width: 30px;
    height: 32px;
    text-align: center;
}

#dashboardeditdatetextbox {
    position: absolute;
    font-size: 24px;
    left: 150px;
    top: 170px;
    width: 30px;
    height: 32px;
    text-align: center;
}

#dashboardedithourtextbox {
    position: absolute;
    font-size: 24px;
    left: 300px;
    top: 170px;
    width: 30px;
    height: 32px;
    text-align: center;
}

#dashboardeditminutetextbox {
    position: absolute;
    font-size: 24px;
    left: 350px;
    top: 170px;
    width: 30px;
    height: 32px;
    text-align: center;
}

#dashboardeditcancelbutton {
    position: absolute;
    right: 140px;
    bottom: 20px;
    width: 120px;
    height: 40px;
    font-size: 24px;
    border-radius: 8px;
    background-color: thistle;
}

#dashboardeditdonebutton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 120px;
    height: 40px;
    font-size: 24px;
    border-radius: 8px;
    background-color: thistle;
}