#dashboardcommandbar {
    float: left;
    position: absolute;
    left: 480px;
    top: 140px;
}

#dashboardcommandbartextbox {
    position: absolute;
    width: 600px;
    height: 40px;
    background-color: lavenderblush;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Open Sans';
    font-size: 24px;
}

#dashboardcommandbarconfirmbutton {
    position: absolute;
    width: 60px;
    height: 48px;
    left: 640px;
    top: 0px;
    background-color: blueviolet;
}

#dashboarddatetext {
    position: absolute;
    left: 1080px;
    top: 240px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtoday {
    position: absolute;
    left: 400px;
    top : 240px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtodaycontent {
    position: absolute;
    left: 0px;
    top : 60px;
    font-family: 'Open Sans';
    font-size: 20px;
}

#dashboardtomorrow {
    position: absolute;
    left: 400px;
    top : 480px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#dashboardtomorrowcontent {
    position: absolute;
    left: 0px;
    top : 60px;
    font-family: 'Open Sans';
    font-size: 20px;
}

.planinstance {
    position: relative;
    border-radius: 16px;
    width: 800px;
    height: 32px;
    padding-left: 8px;
    background-color: lavender;
    margin-bottom: 8px;
}

.category {
    position: absolute;
    top : 0px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
    left: 40px;
}

.title {
    position: absolute;
    top : 0px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
    left: 200px;
}

.time {
    position: absolute;
    top : 0px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
    left: 640px;
    width: 100px;
}

.planachievetogglebutton {
    position: absolute;
    left: 0px;
    top: 0px;
}

.plannotachieved {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: black;
}

.planachieved {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: green;
}

.removebutton {
    position: absolute;
    left: 780px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: red;
    z-index: 1;
}