#indexbanner {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0px);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 144px;
}

#indexbuttonlogin {
    position: absolute;
    left: 50%;
    top: 400px;
    width: 160px;
    height: 40px;
    transform: translate(-50%, 0);
    font-family: 'Open Sans';
    font-size: 24px;
    border-radius: 8px;
    background-color: thistle;
}

#indexbuttonsignup {
    position: absolute;
    left: 50%;
    top: 480px;
    width: 160px;
    height: 40px;
    transform: translate(-50%, 0);
    font-family: 'Open Sans';
    font-size: 24px;
    border-radius: 8px;
    background-color: thistle;
}
