#logintitle {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 0px);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 72px;
}

#logincontent {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 400px;
    height: 600px;
    transform:translate(-50%, 0px);
}

#loginusernametext {
    position: absolute;
    left: 0px;
    top: 20px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#loginusernametextbox {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 400px;
    height: 40px;
}

#loginpasswordtext {
    position: absolute;
    left: 0px;
    top: 120px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
}

#loginpasswordtextbox {
    position: absolute;
    left: 0px;
    top: 160px;
    width: 400px;
    height: 40px;
}

#loginback {
    position: absolute;
    left: 180px;
    top: 220px;
    width: 120px;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 24px;
    border-radius: 8px;
    background-color: thistle;
}

#loginconfirm {
    position: absolute;
    left: 300px;
    top: 220px;
    width: 120px;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 24px;
    border-radius: 8px;
    background-color: thistle;
}
