#settingsusername {
    position: absolute;
    left: 20%;
    top: 160px;
}

#settingsusernametext {
    position: absolute;
    width: 600px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
}

#settingsusernametextbox {
    position: absolute;
    top: 40px;
    width: 200px;
    height: 20px;
}

#settingsusernameconfirmbutton {
    position: absolute;
    left: 220px;
    top: 40px;
    width: 60px;
    height: 24px;
    border-radius: 4px;
    background-color: thistle;
}

#settingsemail {
    position: absolute;
    left: 20%;
    top: 240px;
}

#settingsemailtext {
    position: absolute;
    width: 600px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
}

#settingsemailtextbox {
    position: absolute;
    top: 40px;
    width: 200px;
    height: 20px;
}

#settingsemailconfirmbutton {
    position: absolute;
    left: 220px;
    top: 40px;
    width: 60px;
    height: 24px;
    border-radius: 4px;
    background-color: thistle;
}

#settingspassword {
    position: absolute;
    left: 20%;
    top: 320px;
}

#settingspasswordtext {
    position: absolute;
    width: 600px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
}

#settingspasswordtextbox {
    position: absolute;
    top: 40px;
    width: 200px;
    height: 20px;
}

#settingspasswordconfirmtext {
    position: absolute;
    top: 80px;
    width: 600px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
}

#settingspasswordconfirmtextbox {
    position: absolute;
    top: 120px;
    width: 200px;
    height: 20px;
}

#settingspasswordconfirmbutton {
    position: absolute;
    left: 220px;
    top: 120px;
    width: 60px;
    height: 24px;
    border-radius: 4px;
    background-color: thistle;
}

#settingslogoutbutton {
    position: absolute;
    right: 280px;
    bottom: 80px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: thistle;
    font-size: 24px;
}

#settingsdeleteaccountbutton {
    position: absolute;
    right: 80px;
    bottom: 80px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: thistle;
    font-size: 24px;
}