#signuptitle {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 0px);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 72px;
}

#signupcontent {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0px);
    width: 400px;
    height: 260px;
}