#banner {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0px);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 144px;
}

#buttonlogin {
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translate(-50%, 0);
    font-family: 'Open Sans';
}

#buttonsignup {
    position: absolute;
    left: 50%;
    top: 440px;
    transform: translate(-50%, 0);
    font-family: 'Open Sans';
}